* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #071c85;
}


fieldset {
  width: 100%;
  max-width: 350px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: rgb(255, 174, 0);
  box-shadow: 0 5px 10px #0dff00d7;
  text-align: center;
  animation: aparecer 2s;
}

@keyframes aparecer {
  from { opacity: 0; }
  to { opacity: 1; }
}

fieldset img {
  width: 100%;
  max-width: 150px;
  display: block;
  margin: 0 auto 10px;
  border-radius: 100%;
  box-shadow: 0 5px 10px #ff0000d7;
}

h1 {
  font-size: 22px;
}


input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}


.password-box {
  position: relative;
  width: 100%;
}

.password-box input {
  padding-right: 45px;
}

.password-box .eye {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color: #333;
  background: #ffffff;
  border-radius: 50%;
  padding: 4px 6px;
}


.btn-login {
  width: 100%;
  padding: 10px;
  background: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-login:hover {
  background: darkblue;
}


p {
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 14px;
}




.menu-container {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1000;
}


#menu-toggle {
  display: none;
}


.menu-icon {
  font-size: 28px;
  cursor: pointer;
  background: white;
  padding: 8px 12px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}


.menu-icon .icon-close {
  display: none;
}


#menu-toggle:checked + .menu-icon .icon-open {
  display: none;
}

#menu-toggle:checked + .menu-icon .icon-close {
  display: inline;
}


.menu {
  position: absolute;
  top: 50px;
  right: 0;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  overflow: hidden;
  min-width: 160px;
  z-index: 1000;

  transform: translateX(30px); 
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.menu a {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}

.menu a:hover {
  background: #f0f0f0;
}


#menu-toggle:checked + .menu-icon + .menu-overlay + .menu {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}


.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
}

#menu-toggle:checked + .menu-icon + .menu-overlay {
  display: block;
}


@media (max-width: 480px) {
  fieldset {
    padding: 20px;
  }

  h1 {
    font-size: 18px;
  }
}
